<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Farsight</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">



  <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon" />
  
<%= javascript_include_tag('application')%>




  <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Josefin+Slab&display=swap" rel="assets">

 <!-- Libraries CSS Files -->


 <!-- >..< -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.2.0/sticky.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<!-- <link rel="stylesheet" href="css/animate.css"> -->


<!-- <script src="js/wow.min.js"></script>
 -->          
 <script> new WOW().init();</script>


 <!-- <link href="assets/animate.min.css" rel="stylesheet"> -->


  <!-- Bootstrap CSS File -->
 <!-- <link href="assets/bootstrap.min.css" rel="stylesheet"> -->


  <!-- Main Stylesheet File -->
  <%= stylesheet_link_tag ('style') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css"></script>


  <style> 
   @font-face {
     font-family: "modernSans";
     src: url(ModernSans-Light.otf);
  }

  h1, h2, h3, h4, h5, h6, p, a, div, article, button {
    font-family: "modernSans";
  }
  </style>
 
</head>

<body>
  <!-- <div id="preloader"></div> -->

  <!-- >..< Commented out preloader because it breaks the links -->

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
          <h1 style="font-family: modernSans; font-size: 4em; font-weight: lighter;"> 
          FarSight Technologies</h1>
      <div class="wow fadeIn">
        <div class="hero-logo">
            
          <h3 style="font-size: 2em; padding-top: 3em; color: grey;"> Do the impossible </h3>


        </div>
          <br>
          <br>
          <br>
          <br>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="actions">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="#services" class="btn-services">Our Services</a>
        </div>
      </div>
    <!-- </div> -->
  </section>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"> <% image_tag("templogo.png") %></a>
       


        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <!-- <li><a href="#services">Services</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <!-- <li><a href="#testimonials">Testimonials</a></li> -->
          <li><a href="#team">Team</a></li>
         <!--  <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="menu-has-children"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul> -->
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
          <h3 class="section-title">About Us</h3>
          <div class="section-title-divider"></div>
          <div class="col-md-12 service-item">

          <p class="about-title" style="font-size: 110%; text-align: left;">farSight Technologies is a dedicated team of experienced engineers, technologists, and operations experts. Decades of hands-on and in-the-field experience with partnerships spanning academia, research institutes, and government allows farSight to bring just the right skills to solving our clients’ challenges.
          </p>
        </div>
        <!-- <div class=container>  -->
        <!-- <div class="col-sm-1 service-item"></div> -->
       
      </div>
          <!-- </section> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
    <div class="container about-container wow fadeInUp">
      <div class="row">

        <div class="col-lg-6 about-img">
          <%= image_tag("WB sundown.jpg") %>
        </div>

        <div class="col-md-6 about-content">
          <h2 class="section-description" style="font-size: 2em;">farSight enables vital missions in:</h2>
         <!-- <div class="col-md-4 service-item"> -->
           <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".15s">
             <!-- <div class="about-bullets"> -->
           <ul TYPE="square">
         <div style="padding-left: 2em;">
           <li>Space Exploration</li>
           <li>Homeland Security</li>
           <li>Defense</li>
           <li>National Security and Intelligence</li>
           <li>Disaster Preparation and Recovery</li>
           <li>Disadvantaged communication networks</li>
           </ul>
         <!-- </div> -->
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>




  <!--==========================
  Services Section
  ============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Services</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>

<!-- <div class="container wow fadeInUp"> -->
     <!-- <div class="container"> -->
<br>

  <!--==========================
  Card test Section
  ============================-->
<!-- <div id="flippy-section"> -->
  <div class="container">
  <div class='row'>
    <div class='col-md-6'>
      <div class='dashboard-cards'>
        <div class='card' style="justify-content: center;">

    <div class='card-title' style="color:white; background-image: url(<%= image_path('ISS.jpg')%>);
    height: 300px; width: auto; background-size: cover; background-position: center;"> 
      <h2>
        Space Systems
      </h2>
      <article>
        farSight personnel are intimately involved with the design, test, and operation of robotic and human space flight systems. farSight personnel have hands-on expertise in the following space-related areas:
      </article>
    
    </div>

    <div class='card-flap flap1' style="background-color: #f3f3f3;">
      <div class='card-description'>
        <ul class='task-list'>
          <li>Mission design and architecture development</li>
          <li>Systems Engineering & Integration</li>
          <li>Science Payload Development</li>         
          <li> Spacecraft Bus Development</li>
          <li>Propulsion and Guidance</li>
          <li>Communications and Avionics Systems</li>
          <li>Hardware and Software Verification and Validation (V&V)</li>
          <li>Flight and Ground Test Planning and Operations</li>
          <li>Launch and Early Orbit Phase</li>
          <li>Space Mission and Payload Operations</li>
          <li>Ground and space-based communication and navigation systems and supporting networks</li>
        </ul>
      </div>
    </div>
      <div class='card-flap flap2'>
        <div class='card-actions'>
          <a class='btn' href='#'>Close</a>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class='col-md-6'>
    <div class='dashboard-cards'>
      <div class='card' style="justify-content: center;">

  <div class='card-title' style="color:white;background-image: url(<%= image_path('hero-bg.jpg')%>);
  height: 300px; width:auto; background-position: right;"> 
    <h2>
       Cyber / Information Assurance
    </h2>
    <article>
      farSight personnel possess expertise in offensive and defensive cyber as well as risk assessment methodologies. Additionally, farSight personnel are intimately familiar with Federal requirements and policies regarding cybersecurity and information assurance. Whether it's performing upfront risk assessments or red-teaming an operating network, farSight is ready to support your mission. Specific areas of expertise include:
    </article>
  
  </div>

  <div class='card-flap flap1' style="background-color: #f3f3f3;">
    <div class='card-description'>
      <ul class='task-list'>
        <li>Defensive Cyber and Computer Network Operations (CNO)</li>
        <li>Red-Team and Penetration Testing</li>          
        <li>Threat and Vulnerability Analysis</li>   
        <li>Secure network design, integration, test, and operation (including National Security Systems)
        </li>
        <li> Federal cyber and information protection interpretation and compliance (FIPS policies, CNSS instructions, FISMA and HIPAA)</li>
      </ul>
    </div>
  </div>

  <div class='card-flap flap2'>
    <div class='card-actions'>
      <a class='btn' href='#'>Close</a>
    </div>
  </div>
            </div>
          </div>
        </div>
      </div>


        <div class='row'>
          <div class='col-md-6'>
            <div class='dashboard-cards'>
              <div class='card' style="justify-content: center;">

          <div class='card-title' style="color:white;background-image: url(<%= image_path('ISS013-E-54329.jpg')%>);
          height: 300px; background-position: center; width: auto; margin: 1px;"> 
            <h2>
              Space Control
            </h2>
            <article>
              farSight personnel are experienced in all aspects of Space Situational Awareness and Space Control including the use of RADAR and LIDAR, orbital debris and space object surveillance and identification (SOSI), offensive and defensive counterspace techniques. farSight has unique experience in applying the principles and methods of Space Systems Assurance to civil and civilian space vehicles and missions. Specific areas of expertise include:
            </article>
          
          </div>

          <div class='card-flap flap1' style="background-color: #f3f3f3;">
            <div class='card-description'>
              <ul class='task-list'>
                <li>Space Surveillance Systems (RADAR, LIDAR)</li>
                <li>Counterspace Techniques and Defensive Mitigations</li>
                <li>File Attachment Pending</li>
                <li>Maneuver Detection and Object Characterization</li>
              </ul>
            </div>
          </div>
            <div class='card-flap flap2'>
              <div class='card-actions'>
                <a class='btn' href='#'>Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>






          <div class='col-md-6'>
            <div class='dashboard-cards'>
              <div class='card' style="justify-content: center;">

          <div class='card-title' style="color:white; background-image: url(<%= image_path('ISS_Comm_Antenna.jpg')%>);
          height: 300px; background-position: center; width: auto; background-size: cover;"> 
            <h2>
              Coherent RF Systems
            </h2>
            <article>
              farSight personnel have unique experience in the design, integration, test, and operation of coherent RF systems including those used for high power, widely separated uplink arraying, deep space RADAR, coherent EW effects generation and projection, and precision SIGINT and MASINT collection.
            </article>
          
          </div>

          <div class='card-flap flap1' style="background-color: #f3f3f3;">
            <div class='card-description'>
              <ul class='task-list'>
                <li>Systems used for high power</li>
                <li>Widely separated uplink arraying</li>
                <li>Deep space RADAR</li>
                <li>Coherent EW effects generation and projection</li>
                <li>Precision SIGINT and MASINT collection</li>
              </ul>
            </div>
          </div>
            <div class='card-flap flap2'>
              <div class='card-actions'>
                <a class='btn' href='#'>Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='dashboard-cards'>
              <div class='card' style="justify-content: center;">

          <div class='card-title' style="color:white;background-image: url(<%= image_path('FREESTAR.jpg')%>); background-size: cover;
          height: 300px; width: auto;"> 
            <h2>
              C4ISR
            </h2>
            <article>
              farSight personnel are experienced in all aspects of Space Situational Awareness and Space Control including the use of RADAR and LIDAR, orbital debris and space object surveillance and identification (SOSI), offensive and defensive counterspace techniques. farSight has unique experience in applying the principles and methods of Space Systems Assurance to civil and civilian space vehicles and missions. Specific areas of expertise include:
            </article>
          
          </div>

          <div class='card-flap flap1' style="background-color: #f3f3f3;">
            <div class='card-description'>
              <ul class='task-list'>
                <li>Delay / Disruption Tolerant Networking (DTN)</li>
                <li>Assured Position, Navigation, and Timing (PNT)</li>
                <li>Disadvantaged User Communications</li>
                <li>ISR collection, processing, and dissemination architectures and systems including SIGINT, ELINT, MASINT, and IMINT</li>
                <li>LPI/LPD Communications System and Signal Design</li>
                <li>High Assurance Communications</li>
                <li>Fixed, Ground-Mobile, Airborne, and Space-Based C4ISR Architecture and System Design, Development, Test, and Operation</li>
              </ul>
            </div>
          </div>
            <div class='card-flap flap2'>
              <div class='card-actions'>
                <a class='btn' href='#'>Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="row">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
    <!-- container ender   -->
</div>




<!-- 
      <div class="row">
          
        <h4 style="color: black; text-align: center; font-size: 30px; font: Raleway, sans-serif; padding-top: 20px;">Space Systems</h4>

      </div>

        <div class="row">

          <div class="col-md-12 service-item">
            <h4 class="section-description" style="justify-content: left; font-size: 1.5em; text-align: left; margin-top: 10px;">
             farSight personnel are intimately involved with the design, test, and operation of robotic and human space flight systems. farSight personnel have hands-on expertise in the following space-related areas:
            </h4>
          </div>

        </div>
            
    
<div clas="row">


    <div class="col-md-6" style="color: black; text-align: left;">
                             <h4>Mission design and architecture development</h4>
                             <h4>Systems Engineering & Integration</h4>
                             <h4>Science Payload Development</h4>
                             <h4>Spacecraft Bus Development</h4>
                             <h4>Propulsion and Guidance</h4>
                             <h4>Communications and Avionics Systems</h4>
    </div>

    <div class="col-md-6" style="color: black; text-align: left;">

                             <h4>Hardware and Software Verification and Validation (V&V)</h4>
                             <h4>Flight and Ground Test Planning and Operations</h4>
                             <h4>Launch and Early Orbit Phase</h4>
                             <h4>Space Mission and Payload Operations</h4>
                             <h4>Ground and space-based communication and navigation systems and supporting networks</h4>
                             </h4>
    </div>
</div>
    
<div class="row">

  <div class="col-md-12">
              <h4 style="color: black; text-align: center; font-size: 30px; font: Raleway, sans-serif; padding-top: 20px;">Cyber / Information Assurance</h4>
  </div>

</div>

<div class="row">

  <div class="col-md-12 service-item">
    <p class="section-description" style="font-size: 1.5em; text-align: left; margin-top: 10px;">farSight personnel possess expertise in offensive and 
                defensive cyber as well as risk assessment methodologies. Additionally, farSight personnel are intimately familiar with Federal requirements and policies regarding cybersecurity and information assurance. Whether it's performing upfront risk assessments or red-teaming an operating network, farSight is ready to support your mission. Specific areas of expertise include:
              </p>
  </div>
</div>



<div class="row">
  <div class="col-md-10" style="color: black; text-align: left;">

      <h4>Defensive Cyber and Computer Network Operations (CNO)</h4>
      <h4>Red-Team and Penetration Testing</h4>
      <h4>Threat and Vulnerability Analysis</h4>
      <h4>Secure network design, integration, test, and operation (including National Security Systems)</h4>
      <h4>Federal cyber and information protection interpretation and compliance (FIPS policies, CNSS instructions, FISMA and HIPAA)</h4> 
      </h4>
  </div>
</div>

<br>


<div class="row">

  <div class="col-md-12">
              <h4 style="color: black; text-align: center; font-size: 30px; font: Raleway, sans-serif; padding-top: 20px;">Space Control</h4>
  </div>

</div>


 <div class="row">

        <div class="col-md-12 service-item">
          <p class="section-description" style="font-size: 1.5em; text-align: left; margin-top: 10px;">
          farSight personnel are experienced in all aspects of Space Situational Awareness and Space Control including the use of RADAR and LIDAR, orbital debris and space object surveillance and identification (SOSI), offensive and defensive counterspace techniques. farSight has unique experience in applying the principles and methods of Space Systems Assurance to civil and civilian space vehicles and missions. Specific areas of expertise include:
          </p>
        </div>

</div>

<div class="row">
  <div class="col-md-12" style="color: black; text-align: left;">


            <h4>Space Surveillance Systems (RADAR, LIDAR)</h4>
            <h4>Counterspace Techniques and Defensive Mitigations</h4>
            <h4>Maneuver Detection and Object Characterization</h4>
  </div>
</div>
                    <br>

<div class="row">
  <div class="col-md-12">
          <h4 style="color: black; text-align: center; font-size: 30px; font: Raleway, sans-serif; margin-left: 15px;">C4ISR – Command, Control, Communications, Intelligence, Surveillance, and Reconnaissance</h4>
  </div>


</div>
          
<div class="row">
            <div class="col-md-12 service-item">
              <p class="section-description" style="font-size: 1.5em; text-align: left; margin-top: 10px;">
          farSight personnel have decades of experience in the design, integration, test, and operations of advanced and special application C4ISR systems. farSight has practical C4ISR experience ranging from capability concept specification, through assembly, integration, and test, to deployed operations. farSight-developed systems are operating in all mission domains from fixed and ground-mobile, through airborne UAV and manned platforms, to space-based systems. farSight personnel have expertise in delay/disruption tolerance techniques for disadvantaged networks as well as RF and signal design for low probability of intercept communications. Specific areas of expertise include:
          </p>
            </div>
</div>


<div class="row">
  
  <div class="col-md-6" style="color: black; text-align: left;"> 
    <h4>Delay / Disruption Tlierant Networking (DTN)</h4>
    <h4>Assured Position, Navigation, and Timing (PNT)</h4>
    <h4>Disadvantaged User Communications</h4>
    <h4>ISR collection, processing, and dissemination architectures and systems including SIGINT, ELINT, MASINT, and IMINT</h4>
  </div>

  <div class="col-md-6" style="color: black; text-align: left;">
    <h4>LPI/LPD Communications System and Signal Design</h4>
    <h4>High Assurance Communications</h4>
    <h4>Fixed, Ground-Mobile, Airborne, and Space-Based C4ISR Architecture and System Design, Development, Test, and Operation</h4>
  </div>
</div>

                  <br>
<div class="row">
  <div class="col-md-12">
    <h4 style="color: black; justify-content: center; font-size: 30px; font: Raleway, sans-serif; margin-left: 15px;">Coherent RF Systems</h4>
  </div>
</div>

<div class="row">
            <div class="col-md-12 service-item">

              <p class="section-description" style="font-size: 1.5em; text-align: left; margin-top: 10px;">farSight personnel have unique experience in the design, integration, test, and operation of coherent RF systems including those used for high power, widely separated uplink arraying, deep space RADAR, coherent EW effects generation and projection, and precision SIGINT and MASINT collection.</p>
            </div>
</div>
                  <br>
 -->
  </section>

  <!--==========================
  Subscribe Section
  ============================
   <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Subscribe For Updates</h3>
          <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Subscribe Now</a>
        </div>
      </div>
    </div>
  </section>
 -->
  <!--==========================
  Porfolio Section
  ============================-->
 <!--  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Portfolio</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-1.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 1</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-2.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 2</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>


        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-3.jpg')%>);">
            <div class="details">
              <h4>Portfolio 3</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-4.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 4</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-5.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 5</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-6.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 6</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-7.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 7</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-8.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 8</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>
 -->
  <!--==========================
  Testimonials Section
  ============================-->
<!--   <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Testimonials</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic">
            <%= image_tag("client-1.jpg")%> 
            </div>
            <h4>Saul Goodman</h4>
            <span>Lawless Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><div class="pic">
            <% image_tag "quote_sign_left.png" %>
            </div>
            </b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small> <% image_tag "quote_sign_right.png" %>
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b> 
            <%= image_tag "quote_sign_left.png" %>
            </b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small>
            <% image_tag "quote_sign_right.png" %>
            </small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic">
            <% image_tag "client-2.jpg" %>
            </div>
            <h4>Sara Wilsson</h4>
            <span>Odeo Inc</span>
          </div>
        </div>
      </div>

    </div>
  </section> -->

  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
        <!--   <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic">

             <%= image_tag('team-1.jpg') %>


                </div>

            <h4>Arnold White</h4>
            <span>Chief Executive Officer</span>
           <!--  <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div> -->
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <%= image_tag('team-2.jpg') %>
            </div>
            <h4>Sarah Jhinson</h4>
            <span>Product Manager</span>
           <!--  <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div> -->
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <%= image_tag('team-3.jpg') %>
            </div>
            <h4>Rex Anderson</h4>
            <span>CTO</span>
            <!-- <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div> -->
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <%= image_tag('team-4.jpg') %>
            </div>
            <h4>Amanda Jenson</h4>
            <span>Accountant</span>
            <!-- <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div> -->
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Us</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>2600 South Shore Blvd <br>Suite 300 <br> League City, TX 77573</p>
            </div>

            <!-- email field here. Need farSight email. -->
<!-- 
            <div>
              <i class="fa fa-envelope"></i>
              <p>info@example.com</p>
            </div> -->

            <div>
              <i class="fa fa-phone"></i>
              <p>281-661-3656</p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="credits">
            <!-- Developed by Mark Soloff -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript  -->

  <script>

    $(document).ready(function(){
      var zindex = 10;
      
      $("div.card").click(function(e){
        e.preventDefault();

        var isShowing = false;

        if ($(this).hasClass("d-card-show")) {
          isShowing = true
        }

        if ($("div.dashboard-cards").hasClass("showing")) {
          // a card is already in view
          $("div.card.d-card-show")
            .removeClass("d-card-show");

          if (isShowing) {
            // this card was showing - reset the grid
            $("div.dashboard-cards")
              .removeClass("showing");
          } else {
            // this card isn't showing - get in with it
            $(this)
              .css({zIndex: zindex})
              .addClass("d-card-show");

          }

          zindex++;

        } else {
          // no dashboard-cards in view
          $("div.dashboard-cards")
            .addClass("showing");
          $(this)
            .css({zIndex:zindex})
            .addClass("d-card-show");

          zindex++;
        }
        
      });
    });

    document.getElementById("cardWrapper").onclick = function(){console.log("clicked on card")};

    
  function bigImg(x) {
    x.style.height = "64px";
    x.style.width = "64px";
  }

  function normalImg(x) {
    x.style.height = "32px";
    x.style.width = "32px";
  }
  </script>



 
</body>

</html>
