<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Farsight</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>   -->
 

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
 
 <!-- <script src="/jquery.min.js"></script> -->

  <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon" />
  
<%= javascript_include_tag('application')%>


<!--   <script src="assets/sizzle.min.js"></script>
 -->
  <!-- <link href="favicon.ico" rel="shortcut icon">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest"> -->


   <!-- Template Specisifc Custom Javascript File -->

   <!-- <script src="assets/contactform.js"></script> -->

<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/sizzle/2.3.4/sizzle.js"></script> -->
<!-- <script src="assets/jquery.js"></script> -->
<!-- <script src="assets/application.js"></script>
 --><!-- <link href="assets/application.css"> -->



  <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Josefin+Slab&display=swap" rel="assets">

 <!-- Libraries CSS Files -->


 <!-- >..< -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.2.0/sticky.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<link rel="stylesheet" href="css/animate.css">

<!-- <script src="js/wow.min.js"></script>
 -->          
 <script> new WOW().init(); </script>


 <!-- <link href="assets/animate.min.css" rel="stylesheet"> -->


  <!-- Bootstrap CSS File -->
 <!-- <link href="assets/bootstrap.min.css" rel="stylesheet"> -->


  <!-- Main Stylesheet File -->
  <%= stylesheet_link_tag ('style') %>
  <!-- <link href="assets/style.css.scss" rel="assets"> -->

</head>

<body>
  <!-- <div id="preloader"></div> -->

  <!-- >..< Commented out preloader because it breaks the links -->

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
          <h1 style="font-family: Raleway, sans-serif; font-weight: 200; font-size: 4em;"> FarSight Technologies</h1>
      <div class="wow fadeIn">
        <div class="hero-logo">
            
          <h3 style="font-family: Raleway, sans-serif; font-weight: 200; font-size: 2em; padding-top: 3em"> Do the impossible </h3>


        </div>
          <br>
          <br>
          <br>
          <br>
     <!--    <h3 style="font-family: Josefin Sans, sans-serif; font-weight: 100; font-size: 2em; justify-content: right"> Extraordinary tools for world-class challenges in </h3> -->

          <!-- Josefin Sans, sans-serif; font-weight: 900; font-style: italic;  -->
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="actions">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="#services" class="btn-services">Our Services</a>
        </div>
      </div>
    <!-- </div> -->
  </section>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"> <% image_tag("templogo.png") %></a>
       


        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <!-- <li><a href="#services">Services</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <!-- <li><a href="#testimonials">Testimonials</a></li> -->
          <li><a href="#team">Team</a></li>
         <!--  <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="menu-has-children"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul> -->
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
          <h3 class="section-title">About Us</h3>
          <div class="section-title-divider"></div>
          <div class="col-md-6 service-item">

          <p class="section-description" style="font-size: 105%; ">farSight Technologies is a dedicated team of experienced engineers, technologists, and operations experts. 
          Combining decades of hands on and in-the-field experience with partnerships that span academia, research institutes, and government allows farSight to bring just the right skills to solving our clients’ challenges and enabling vital missions in:
          </p>
        </div>
        <!-- <div class=container>  -->
        <!-- <div class="col-sm-1 service-item"></div> -->
          <div class="col-md-5 service-item">
          <section class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".15s">
            <!-- <div class="about-bullets"> -->
          <ul TYPE="square">
          <li>Space Exploration</li>
          <li>Homeland Security</li>
          <li>Defense</li>
          <li>National Security and Intelligence</li>
          <li>Disaster Preparation and Recovery</li>
          <li>Disadvantaged communication networks</li>
          </ul>
          </section>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
    <div class="container about-container wow fadeInUp">
      <div class="row">

        <div class="col-lg-6 about-img">
          <%= image_tag("kaboom.jpg") %>
        </div>

        <div class="col-md-6 about-content">
          <h2 class="about-title">We provide great services and ideas</h2>
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate
          </p>
          <p class="about-text">
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est laborum
          </p>
          <p class="about-text">
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt molli.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Services Section
  ============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Services</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        </div>
      </div>
    <!-- </div> -->

      <!-- <div class="row"> -->

          <div class="col-md-12 service-item">
          <div class="service-icon"><i class="fa fa-desktop"></i></div>
          <h3 class="service-title"><a href="">Space Systems</a></h3>
          <p id="fade-description" class="service-description">
          
            <!-- <div id="HiddenText"> -->
            farSight personnel are intimately involved with the design, test, and operation of robotic and human space flight systems. farSight personnel have hands-on expertise in the following space-related areas:

          </p>
          <!-- <div id="HiddenText"> -->
          <div class="wow fadeIn">  
            <div class="tabbed">
           <UL TYPE="square">
<ul class="fade-in.one">Mission design and architecture development</ul>
<ul class="fade-in.two">Systems Engineering & Integration</ul>
<ul class="fade-in.three">Science Payload Development</ul>
<ul class="fade-in.four">Spacecraft Bus Development</ul>
<ul class="fade-in.five">Propulsion and Guidance</ul>
<ul class="fade-in.six">Communications and Avionics Systems</ul>
<ul class="fade-in.seven">Hardware and Software Verification and Vauldation (V&V)</ul>
<ul class="fade-in.eight">Fulght and Ground Test Planning and Operations</ul>
<ul class="fade-in.nine">Launch and Early Orbit Phase</ul>
<ul class="fade-in.ten">Space Mission and Payload Operations</ul>
<ul class="fade-in.eleven">Ground and space-based communication and navigation systems and supporting networks</ul>
</ul>
</div>
</div>
</div>
</div>

        <!-- <div class="col-md-4 service-item"> -->
          <div class="col-md-6 service-item">
            <div id="service-item-cyber">

          <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="service-title"><a href="">Cyber / Information Assurance</a></h4>
          <p class="service-description">farSight personnel possess expertise in offensive and defensive cyber as well as risk assessment methodologies. Additionally, farSight personnel are intimately familiar with Federal requirements and policies regarding cybersecurity and information assurance. Whether its performing upfront risk assessments or red-teaming an operating network, farSight is ready to support your mission. Specific areas of expertise include:

  <!-- <div id="HiddenText"> -->
    <div class="fade-in">  

  <ul TYPE="square">

    <ul class="fade-in.one">Defensive Cyber and Computer Network Operations (CNO)</ul>
    <ul class="fade-in.two">Red-Team and Penetration Testing</ul>
    <ul class="fade-in.three">Threat and Vulnerability Analysis</ul>
    <ul class="fade-in.four">Secure network design, integration, test, and operation (including National Security Systems)</ul>
    <ul class="fade-in.five">Federal cyber and information protection interpretation and compliance (FIPS policies, CNSS instructions, FISMA and HIPAA)</ul> 
  </ul>
</div>
</p>
</div>
</div>

    </div>
        <div class="col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
          <h4 class="service-title"><a href="">Space Control</a></h4>
          <p class="service-description">farSight personnel are experienced in all aspects of Space Situational Awareness and Space Control including the use of RADAR and LIDAR, orbital debris and space object surveillance and identification (SOSI), offensive and defensive counterspace techniques. farSight has unique experience in applying the principles and methods of Space Systems Assurance to civil and civilian space vehicles and missions. Specific areas of expertise include:
            <!-- <div id="HiddenText"> -->

             <!--  <div id="HiddenText">
              <ul TYPE="square">

                <li class="fade-in.one"></li>
                <li class="fade-in.two"></li>
                <li class="fade-in.three"></li>
                <li class="fade-in.four"></li>
                <li class="fade-in.five"></li>
                <li class="fade-in.six"></li>
                <li class="fade-in.seven"></li>
                <li class="fade-in.eight"></li>
                <li class="fade-in.nine"></li>
                <li class="fade-in.ten"></li>
                <li class="fade-in.eleven"></li> -->


            <ol>Space Surveillance Systems (RADAR, LIDAR)</ol>
            <ol>Counterspace Techniques and Defensive Mitigations</ol>
            <ol>Maneuver Detection and Object Characterization</ol>
          </div>
          </p>

        <!-- </div> -->
        <div class="col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-photo"></i></div>
          <h4 class="service-title"><a href="">Coherent RF Systems</a></h4>
          <p class="service-description">farSight personnel have unique experience in the design, integration, test, and operation of coherent RF systems including those used for high power, widely separated uplink arraying, deep space RADAR, coherent EW effects generation and projection, and precision SIGINT and MASINT collection.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-road"></i></div>
          <h4 class="service-title"><a href="">C4ISR – Command, Control, Communications, Intelligence, Surveillance, and Reconnaissance</a></h4>
          <p class="service-description">farSight personnel have decades of experience in the design, integration, test, and operations of advanced and special application C4ISR systems. farSight has practical C4ISR experience ranging from capability concept specification, through assembly, integration, and test, to deployed operations. farSight-developed systems are operating in all mission domains from fixed and ground-mobile, through airborne UAV and manned platforms, to space-based systems. farSight personnel have expertise in delay/disruption tolerance techniques for disadvantaged networks as well as RF and signal design for low probability of intercept communications. Specific areas of expertise include:
  <!-- <div id="HiddenText"> -->
    <div class="wow fadeIn">  

  <ul TYPE="square">
  <li>Delay / Disruption Tlierant Networking (DTN)</li>
  <li>Assured Position, Navigation, and Timing (PNT)</li>
  <li>Disadvantaged User Communications</li>
  <li>ISR collection, processing, and dissemination architectures and systems including SIGINT, ELINT, MASINT, and IMINT</li>
  <li>LPI/LPD Communications System and Signal Design</li>
  <li>High Assurance Communications</li>
  <li>Fixed, Ground-Mobile, Airborne, and Space-Based C4ISR Architecture and System Design, Development, Test, and Operation</li>
  </ul>
</div>
</div>


          </p>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Subscrbe Section
  ============================-->
 <!--  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Subscribe For Updates</h3>
          <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Subscribe Now</a>
        </div>
      </div>
    </div>
  </section>
 -->
  <!--==========================
  Porfolio Section
  ============================-->
 <!--  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Portfolio</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-1.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 1</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-2.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 2</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>


        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-3.jpg')%>);">
            <div class="details">
              <h4>Portfolio 3</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-4.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 4</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-5.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 5</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-6.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 6</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-7.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 7</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(<%= image_path('portfolio-8.jpg')%>);"> 
            <div class="details">
              <h4>Portfolio 8</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>
 -->
  <!--==========================
  Testimonials Section
  ============================-->
<!--   <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Testimonials</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic">
            <%= image_tag("client-1.jpg")%> 
            </div>
            <h4>Saul Goodman</h4>
            <span>Lawless Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><div class="pic">
            <% image_tag "quote_sign_left.png" %>
            </div>
            </b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small> <% image_tag "quote_sign_right.png" %>
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b> 
            <%= image_tag "quote_sign_left.png" %>
            </b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small>
            <% image_tag "quote_sign_right.png" %>
            </small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic">
            <% image_tag "client-2.jpg" %>
            </div>
            <h4>Sara Wilsson</h4>
            <span>Odeo Inc</span>
          </div>
        </div>
      </div>

    </div>
  </section> -->

  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic">

             <%= image_tag('team-1.jpg') %>


                </div>

            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <%= image_tag('team-2.jpg') %>
            </div>
            <h4>Sarah Jhinson</h4>
            <span>Product Manager</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <%= image_tag('team-3.jpg') %>
            </div>
            <h4>William Anderson</h4>
            <span>CTO</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <%= image_tag('team-4.jpg') %>
            </div>
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Us</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>2600 South Shore Blvd <br>Suite 300 <br> League City, TX 77573</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>info@example.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>281-661-3656</p>
            </div>

          </div>
        </div>







        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="credits">
            Developed by Mark Soloff
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript raries -->

 
</body>

</html>
