<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Farsight</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  
<%= javascript_include_tag('application')%>


 <!-- Libraries CSS Files -->


 <!-- >..< -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.2.0/sticky.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<!-- <link rel="stylesheet" href="css/animate.css"> -->


<!-- <script src="js/wow.min.js"></script>
 -->          

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
 //paste this code under the head tag or in a separate js file.
  // Wait for window load
  $(window).load(function() {
    // Animate loader off screen
    $(".cssload-container").fadeOut("slow");;
  });
</script>

 <script> new WOW().init();</script>

  <!-- Main Stylesheet File -->
  <%= stylesheet_link_tag ('style') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css"></script>


  <style> 
 


/*  .no-js #loader { display: none;  }
  .js #loader { display: block; position: absolute; left: 100px; top: 0; }*/
/*  .se-pre-con {
    
    background: url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
  }*/


 
  </style>

</head>

<body>

  <!--==========================
  Loader
  ============================-->
<!-- <div class="cssload-container">
  <div class="cssload-zenith"></div>
</div> -->

 

  <!--==========================
  Hero Section
  ============================-->

  <section id="hero">
    <div class="sidekick"> 
      <%= image_tag("farsight-logo_white.png", :alt => "farsight logo", :style => "position: relative; justify-content: center; max-height: 15rem; max-width: 100%; padding-left: 10px; z-index: 1;") %>
    </div>
    <div class="container" style="padding: 0;">
    <div class="hero-container">
          <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <div>
        <div class="hero-logo">
            
          <h3 class="wow fadeIn" data-wow-duration="2.5s"> Do the impossible </h3>

          </div>
        </div>
        </div>
        <br>      
        <br>
        <br>
        <br>

        <div class="actions">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="#team" class="btn-services">Our Services</a>
          <!-- team & services tags temporarily switched -->
        </div>
      </div>
    <!-- </div> -->
  </section>


  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container-fluid">
      <!-- <nav class="navbar"> -->
      <div id="logo" class="pull-left" >
        <a class="navbar-brand" href="#" style="transform: translate(0%, -30%);"><%= image_tag("farsight-logo_white.png") %>
         </a>
      </div>


      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <!-- <li><a href="#services">Team</a></li> -->
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
          <h3 class="section-title">About Us</h3>
          <div class="section-title-divider"></div>
          <div class="col-md-12 service-item">
            <p class="about-title main">farSight Technologies is a dedicated team of experienced engineers, technologists, and operations experts. Decades of hands-on and in-the-field experience with partnerships spanning academia, research institutes, and government allows farSight to bring just the right skills to solving our clients’ challenges.
            </p>
          </div>
        </div>  
      </div>
      <div>
        <div class="col-md-12 sundown wow fadeInRight" data-wow-duration=".75s" data-wow-delay=".15s">
          <p class="about-title" style="padding: 10px 0 0 30px; text-align: left; color: white; font-size: 250%;">farSight enables vital missions in:
          </p>
          <div style="font-size: 200%; text-align: left; padding-left: 55%;">
             <ul>
               <li>Space Exploration</li>
               <li>Homeland Security</li>
               <li>Defense</li>
               <li>National Security and Intelligence</li>
               <li>Disaster Preparation and Recovery</li>
               <li>Disadvantaged communication networks</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

  <!--==========================
  Services Section
  ============================-->
  <!-- <br><br><br><br> -->
    <div class="container wow fadeInUp" style="padding:10px 0 100px 0;">

  <section id="team">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Services</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-md-6">
          <div class="member">
            <div class="pic">
            <a href="services"/>
             <%= image_tag('ISS.jpg') %>
                </div>

            <h4>Space Systems</h4>
            <span>Space Systems</span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="member">
            <div class="pic">
              <a href="services"/>
              <%= image_tag('hero-bg.jpg') %>
            </div>
            <h4>Cyber / Information Assurance</h4>
            <span>Cyber / Information Assurance</span>
          </div>
        </div>

    </div>
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="member">
           <!-- temporary img spacing fix -->
            <!-- <br> -->
            <div class="pic">
            <a href="services"/>
              <%= image_tag('ISS_Comm_Antenna.jpg') %>
            </a>
            </div>
            <h4>Space Control</h4>
            <span>Space Control</span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="member">
            <div class="pic">
              <a href="services"/>
              <%= image_tag('FREESTAR.jpg') %>
            </div>
            <h4>C4ISR</h4>
            <span>C4ISR</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="member">
            <div class="pic">
              <a href="services"/>
              <%= image_tag('spectral.jpg') %>
            </div>
            <h4>Coherent RF Systems</h4>
            <span>Coherent RF Systems</span>
          </div>
        </div>  
      </div>       
  </div>    
  </section>

  <!--==========================
  Team Section
  ============================-->
    <!--==========================
  Contact Section
  ============================-->
  
  <section id="contact">
    <div class="container wow fadeInUp" style="padding:0;">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Us</h3>
         <!--  <div class="section-title-divider"></div>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div> -->
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>2600 South Shore Blvd <br>Suite 300 <br> League City, TX 77573</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <!-- email field here. Need farSight email. -->
                <p>contact@farsight.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>281-661-3656</p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <!--  submits form data to form-data.com -->
             <form action="https://www.form-data.com/_functions/submit/ja9ip3swulz10ekj76sgi" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" name="email" class="form-control" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="How can we help you?" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  </section>
  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container" style="padding:0;">
      <div class="row">
        <div class="col-md-12">
          <div class="credits">
            <!-- Developed by Mark Soloff -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Required JavaScript  -->

  <script>

    $(document).ready(function(){
      var zindex = 10;
      
      $("div.card").click(function(e){
        e.preventDefault();

        var isShowing = false;

        if ($(this).hasClass("d-card-show")) {
          isShowing = true
        }

        if ($("div.dashboard-cards").hasClass("showing")) {
          // a card is already in view
          $("div.card.d-card-show")
            .removeClass("d-card-show");

          if (isShowing) {
            // this card was showing - reset the grid
            $("div.dashboard-cards")
              .removeClass("showing");
          } else {
            // this card isn't showing - get in with it
            $(this)
              .css({zIndex: zindex})
              .addClass("d-card-show");

          }

          zindex++;

        } else {
          // no dashboard-cards in view
          $("div.dashboard-cards")
            .addClass("showing");
          $(this)
            .css({zIndex:zindex})
            .addClass("d-card-show");

          zindex++;
        }
        
      });
    });

    document.getElementById("cardWrapper").onclick = function(){console.log("clicked on card")};

    
  function bigImg(x) {
    x.style.height = "64px";
    x.style.width = "64px";
  }

  function normalImg(x) {
    x.style.height = "32px";
    x.style.width = "32px";
  }
  </script>



 
</body>

</html>
